#root {
  font-family: Fredoka, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: rgb(0, 79, 68);
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 50px;
  align-items: center;
}

.hedaer-logo__img {
  height: auto;
  max-width: 100%;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.header-content__description {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-content__title {
  color: rgb(239, 247, 245);
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 1.5px;
}
.header-content__subtitle {
  color: rgb(239, 247, 245);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.header-content__slider-img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* main */
.main {
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main__title {
  color: rgb(0, 79, 68);
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.main-search__input {
  padding: 10px;
  border: 2px solid rgb(0, 79, 68);
  border-radius: 5px;
  width: 50vw;
  outline: none;
}
.main-search {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.preloader {
  display: none;
  background-color: rgb(0, 79, 68);
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  color: white;
  font-weight: 300;
  width: 100px;
  text-align: center;
}

.preloader--active {
  display: block;
}
.main-cart {
  width: 80px;
  background-color: rgb(0, 79, 68);
  padding: 10px;
  border-radius: 50px;
}

.not-found-message {
  color: rgb(0, 79, 68);
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.main-cart:hover {
  background-color: rgb(28, 159, 141);
  cursor: pointer;
}

.main-cart__img {
  max-width: 100%;
}
.main__product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  max-width: 280px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.product-card__img:hover {
  transform: scale(1.1);
}

.product-card__name {
  color: rgb(0, 79, 68);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.product-card__price {
  color: rgb(0, 79, 68);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.product-card__button {
  max-width: 60px;
  color: rgb(0, 79, 68);
  padding: 4px;
  border: 1px solid rgb(0, 79, 68);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  transition: 0.2s;
}
.product-card__button:hover {
  background-color: rgba(0, 79, 68, 0.1);
  cursor: pointer;
}

/* footer */

.footer {
  padding: 50px;
  background-color: rgb(243, 255, 252);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer__title {
  color: rgb(0, 79, 68);
  font-size: 44px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.footer__text {
  color: rgb(0, 79, 68);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-bottom: 50px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__phone,
.footer__email {
  color: rgb(0, 79, 68);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.3px;
}

/* modal */

.btn-close {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  color: white;
  background-color: blueviolet;
  transition: 0.2s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  width: 500px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  transition: 0.2s;
  transform: translateY(-50px);
}

.modal__header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  color: rgb(0, 79, 68);
  font-size: 25px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.modal__close {
  background: rgb(0, 79, 68);
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.modal__content {
  padding: 20px;
  overflow: auto;
  flex-grow: 1;
  color: rgb(0, 79, 68);
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item__name,
.cart-item__price {
  color: rgb(0, 79, 68);
  font-size: 20px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.modal__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total {
  display: flex;
  justify-content: space-between;
}
.cart-total__label,
.cart-total__amount {
  color: rgb(0, 79, 68);
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.order-button {
  background-color: #004f44;
  border-radius: 50px;
  width: 90px;
  padding: 10px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.2px;
  cursor: pointer;
  text-align: center;
}

.order-button:hover,
.modal__close:hover {
  background-color: rgb(28, 159, 141);
}
